[submodule "backend"]
	path = backend
	url = https://github.com/MazenOth/blog-platform-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MazenOth/blog-platform-frontend.git
